form li{
    list-style: none;
    margin-bottom: 20px;
}
label{
    display: block;
    cursor: pointer;
    color: black;
    font-family: sans-serif;
    padding-bottom: 8px;
}
form ul{
    padding-left: 0px;
}
textarea{
    width: 400px;
    height: 200px;
}
h1{
    background: url(../img/nettuts_Logo.png) no-repeat;
    text-indent: -9999px;
    width: 200px;
    height: 55px;;
}