body{
    margin: 0;
}
header{
background-color: #99DDC8;
height: 10vh;
}
nav{
    background-color: #95BF74;
    height: 5vh;
}
aside{
    background-color: #99DDC8;
    height: 70vh;
    float: left;
    width: 20%;
}
main{
    background-color: #99DDC8;
    float: left;
    height: 70vh;
    width: 60%
}
section{
    background-color: #283F3B;
    height: 70vh;
    width: 20%;
    float: left;
}
footer{
    background-color: #99DDC8;
    clear: both;
    height: 15vh;
}