@import url(../Assesment1/base.css);
@import url(../Assesment1/layout.css);
@import url(../Assesment1/module.css);
@import url(../Assesment1/state.css);
@import url(../Assesment1/shame-on-me.css);

@import url(../Assesment1/reset.css);
@import url(../Assesment1/960.css);
@import url(../Assesment1/text.css);

@media (max-width: 400px)  {
header{
    width: 100%;
}
.container_16 .grid_14{
       width: 100%;
       display: block;
   }
.container_16 .grid_2{
    width: 100%;
    display: block;
}
    
.container_16 .grid_3{
    width: 100%;
    display: block;
}
.add-thirdParty .card{
    width: 100%;
    display: block;
}

.addImage{
    width: 100%;
    display: block;
}
.grid3-firstSec-addImage{
    width: 100%;
    display: block;
}
.grid3-addImage{
    width: 100%;
    display: block;
}
.hero-image{
    width: 100%;
    display: block;
}
.container_16 .grid_16{
    width: 100%;
    display: block;
}
.container_16 .grid_8{
    width: 100%;
    display: block;
}
footer .container_16 .grid_16 .h-list{
    height: 100px;
    display: block;
    background: black;
}
.footerText{
    width: 100%;
    height: 50px;;
}
.footerImg{
    width: 10%;
    height: 50px;;
}
.h-ulList{
    width: 100%;
    display: block;
    display:list-item;
}
}