.headerImg{
    height: 10vh;
}

.hero-image {
background-image: url("../../img/heroImg.jpg");
height: 300px;
width: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

.add-heroImg{
width: 960px;
height: 300px;
}

.rightparent{
display: flex;
flex-direction: column;
}
.rightchild1{
    flex:30%;
    background: #EB9486;
    height: 124px;
    margin-bottom: 5px;
    text-align: center;
}

.rightchild2{
flex:30%;
background: #CAE7B9;
height: 120px;
margin-bottom: 10px;
text-align: center;
}
.rightchild3{
flex:40%;
background:#F3DE8A;
height: 141px;
text-align: center;
flex-wrap: wrap;
}


.firstSection{
    background: #F0F3BD;
    height: 400px;
}

.hero-image_section{
    margin-top: 50px;
    background: #7E7F9A ;
}
.rightSubSection{
    height: 150px;
}